@page
@model Atividade2Model
@using aa_time_1.Pages
@{
    ViewData["Title"] = "Atividade 2";
}

<div class="text-center" id="containerPrincipal">
    <h1 class="display-4">Atividade 2</h1>
    <h3><strong>Hashing</strong></h3>
    <p>Com um conjunto de imagens 4K em um diretório, esse trabalho consistiu em buscar a última imagem desse conjunto,
        através de uma Tabela Hash em dois cenários: utilizando a função de hash do Quadrado Médio e a função de hash MD5. Além disso, foi feita uma Busca Binária para fins de comparação.
        
        <p>Em todos os casos, a eficiência de cada algoritmos foi testada e os resultados comparativos foram iustrados graficamente utlizando <a href="https://www.chartjs.org/" target="_blank" rel="nonfollow">Chart.js</a></p>
    
    </p>

    <section id="mainAnalise">

        <div id="wrapperCanvasTempoHash" class="chart-wrapper">
            <span id="tempo_hash_md5"    hidden>@Model.TempoHashMd5</span>
            <span id="tempo_hash_sqm"    hidden>@Model.TempoHashSqm</span>
            <span id="tempo_hash_linear" hidden>@Model.TempoHashLinear</span>
            <canvas id="chartTempoHash"></canvas>
        </div>
    </section>
</div>

<script src="~/js/funcoes.js"></script>
<script src="~/js/atividade2.js"></script>
