@page
@model Atividade3Model
@using System.IO;

@{
    ViewData["Title"] = "Atividade 3";
    // Projeto 3

}

<head>
  <link rel="stylesheet" type="text/css" href="~/css/site.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.min.js"></script>
</head>
<script src="~/node_modules/chart.js/dist/chart.js"></script>


<div class="text-center" id="containerPrincipal">
    <h1 class="display-4">Atividade 3</h1>
    <h3>Grafos</h3>
</div>

<script src="~/js/atividade3.js"></script>
