@page
@model Atividade3Model
@using aa_time_1.Pages
@{
    ViewData["Title"] = "Atividade 3";
}

<div class="text-center" id="containerPrincipal">
    <h1 class="display-4">Atividade 3</h1>
    <h3><strong>Grafos</strong></h3>

    <span id="vertices-json" hidden>@Model.json</span>
</div>

<script src="https://cdn.jsdelivr.net/npm/gojs/release/go.js"></script>
<script src="~/js/atividade3.js"></script>
