@page
@model IndexModel
@{
  ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Time 1</h1>
    <h2>Integrantes:</h2>
    <h4>Ciro Dourado de Oliveira</h4>
    <h4>Douglas</h4>
    <h4>Gabriel Câncio</h4>
    <h4>João Gabriel</h4>
    <h4>Jonas Carvalho</h4>
</div>
