@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Time 1</h1>
    <br>
    <div class="text-center">
        <h4><strong>Integrantes:</strong></h4>
            Ciro Dourado   <br>
            Douglas Castro <br>
            Gabriel Câncio <br>
            João Gabriel   <br>
            Jonas Carvalho <br>
        </p> <br>

        <h4><strong>Objetivos</strong></h4>
            <p>Nosso trabalho busca alcançar competências referentes as Estruturas de Dados Avançados utilizando a linguagem C#, além disso, aplicar o conhecimento adquirido na contrução de aplicações web.</p>
            <br>
        <h4><strong>Como compilar localmente</strong></h4>
        <h5><strong>Linux</strong></h5>
            <p>
                Instale as dependências abaixo: <br>
                1. dotnet-sdk     <br> 
                2. dotnet-host    <br>
                3. dotnet-runtime <br>
                4. dotnet-targeting-pack <br>
                5. aspnet-runtime <br>
                6. aspnet-targeting-pack <br>
                Após isso, fazer o próximo passo <br>
            </p> <br>

        <h5><strong>Outros Sistemas Operacionais</strong></h5>
            <p>
                Faça a clonagem do repositório para uma pasta local: <br>
                <code>git clone git@github.com:ciroDourado/aa_time_1.git</code> <br>
                Abra o projeto, compile e execute: <br>
                <code>cd aa_time_1</code> <br>
                <code>dotnet run  </code> <br>
            </p> <br>

        <h5><strong>Em caso de problemas</strong></h5>
            <p>
                Nosso projeto usa uma biblioteca externa do C# chamada Newtonsoft.Json <br>
                Para instalar basta digitar o seguinte comando no terminal:            <br>
                <code>dotnet add package Newtonsoft.Json --version 13.0.1 </code>      <br>
                e então compile e execute o código.
            </p> <br>
    </div>
</div>
